%header.topNav
  = link_to '#', :class => 'topNav_logo' do
    = image_tag 'sagip-icon.png', :class => 'topNav_logoImg'
  %ul.topNav_list
    - if @current_user
      = link_to :logout, :method => :delete do
        %li.topNav_listItem Log-out
    - else
      = link_to '/', :class => 'topNav_link' do
        %li.topNav_listItem Sign-in
