%main
  = form_tag '/persons/search', :method => :get, :class => 'search_form' do

    = text_field_tag 'query', nil, {:class => 'js-autocomplete', :data => {'autocomplete-limit' => '10', 'autocomplete' => '/persons/autocomplete'}}
    = submit_tag 'Search'

  = render :partial => 'table', :locals => {:persons => @persons}
