/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'https://fonts.googleapis.com/css?family=Poppins';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

input {
  border: none;
  border-bottom: solid 1px black;
}

  input[type="submit"] {
    border: none;
    background-color:#FDC513;
  }

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 10px 40px;
  background-color: gainsboro;
}

  .topNav_logo {
    display: flex;
    align-items: center;
  }

    .topNav_logoImg {
      width: 80px;
    }


  .topNav a {
    color: black;
    text-decoration: none;
  }

  .topNav_list {
    list-style-type: none;
    padding: 0;
  }

.form_wrapper {
  border: solid 1px black;
  width: 30%;
  margin: 40px auto;
  padding: 40px 0;
  border-radius: 25px;
}

  .form_heading {
    text-align: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

    .form-group input {
      margin-bottom: 20px;
      width: 100%;
    }

    .form-group input[type="submit"] {
      border-bottom: none;
      background-color:#FDC513;
    }

    .form-group input[type="submit"] {
    }

main {
  padding: 40px 50px;
}

  .search_form {
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 20px 30px;
    background-color: gainsboro;
  }

  .search_form input[type="text"] {
    margin-right: 20px;
    width: 50%;
  }

  .tablesorter {
    width: 100%;
  }
    .tablesorter td, .tablesorter th:not(:last-child) {
      border-right: solid 1px black;
    }

  .list:nth-child(odd) {
    background-color: gainsboro;
  }

  td {
    padding: 5px 10px;
    text-align: center;
  }
