input {
  border: none;
  border-bottom: solid 1px black;
}

input[type="submit"] {
  border: none;
  background-color:#FDC513;
}

.form_wrapper {
  border: solid 1px black;
  width: 30%;
  margin: 40px auto;
  padding: 40px 0;
  border-radius: 25px;
}

.form_heading {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.form-group input {
  margin-bottom: 20px;
  width: 100%;
}

.form-group input[type="submit"] {
  border-bottom: none;
  background-color:#FDC513;
}
