.index_head {
  text-align: center;
  margin-bottom: 0;
}

.reminder {
  width: 80%;
  margin: 0 auto 20px;
}

.search_form {
  width: 100%;
  display:flex;
  justify-content: center;
  padding: 20px 30px;
  background-color: gainsboro;
}

.search_form input[type="text"] {
  margin-right: 20px;
  width: 50%;
}

.tablesorter {
  width: 100%;
}

.tablesorter td:not(:last-child), .tablesorter th:not(:last-child) {
  border-right: solid 1px black;
}

.table-header th {
  background-color: white;
  padding: 20px 10px;
  border-bottom: solid 1px black;
}

.list:nth-child(odd) {
  background-color: gainsboro;
}

.list:hover {
  background-color:#FDC513;
}

td {
  padding: 5px 10px;
  text-align: center;
}
